html {
  background: url(images/black-b.jpg);
  background-size: cover;
  height: 100%;
}

body {
  background-color:#000000;
  color:#f2f2f2;
  font-family: 'Courier';
  height: 100%;
  margin: 0 auto;
  width: 800px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  display: block;
  float: left;
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bolder;
  margin: 0px;
  padding: 10px;
}

#navigation-background {
  background-color: rgb(29, 83, 133);
  float: left;
  width: 100%;
}

.quote, .services {
  float: left;
}